<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <file_attachments>
            <general>
                <thumbnail_width>110</thumbnail_width>
            </general>
        </file_attachments>
    </default>
</config>
