<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="file_attachments" frontName="file_attachments">
            <module name="MageSuite_FileAttachments" />
        </route>
    </router>
</config>
