<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="MageSuite_FileAttachments::attachment_menu"
            title="File Attachments"
            module="MageSuite_FileAttachments"
            sortOrder="50"
            parent="Magento_Catalog::inventory"
            action="fileattachments/attachment/index"
            resource="Magento_Backend::content"/>
    </menu>
</config>
